<footer class="footer pt-3 mt-3">
    <div class="container">
        <div class="row">
            <!--            Інформація про магазин-->
            <div class="col-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">About</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <!--                Контакти-->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Contacts</h5>
                        <p class="card-text">
                            <span><img class="footer_icon pe-1 pb-2" src="/src/img/phone-solid.svg" alt="Phone"/>Phone number +380-000-000-00-00</span><br>
                            <span><img class="footer_icon pe-1 pb-1" src="/src/img/envelope-solid.svg" alt="Mail"/>Email work_email@email.com</span><br>
                            <span><img class="footer_icon pe-1 pb-2" src="/src/img/map-location-dot-solid.svg" alt="Map"/>
                            Житомирська область,
                            Житомир
                            вулиця Кафедральна, 4</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <!--                Вся інша не сильно важлива інфа-->
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-text">
                            <div class="pb-3">You can pay <img class="footer_big_icon pe-1" src="/src/img/cc-visa.svg" alt="Visa"/> <img class="footer_big_icon pe-1" src="/src/img/cc-mastercard.svg" alt="Mastercard"/> <img class="footer_big_icon pe-1" src="/src/img/cc-apple-pay.svg" alt="ApplePay"/><br></div>
                            Follow us on <img class="footer_big_icon pe-1" src="/src/img/facebook.svg" alt="Facebook"/> <img class="footer_big_icon pe-1" src="/src/img/instagram.svg" alt="Instagram"/> <img class="footer_big_icon pe-1" src="/src/img/tiktok.svg" alt="TikTok"/>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>