<header class="header">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <!--            Логотип та всі предмети + кнопка-->
            <ul class="list-inline float-start">
                <li>
                    <a href="/" class="navbar-fluid" id="bigLogo">
                        <img src="/src/img/logo.svg" alt="Logo" class="logo_icon">
                    </a>
                </li>
                <li class="list-inline-item">
                    <span class="navbar-text">
                        <h4>Всі предмети</h4>
                    </span>
                </li>
                <li class="list-inline-item">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </li>
            </ul>
            <!--            Пошукова стрічка-->
            <form class="d-flex flex-fill p-5" role="search">
                <input type="search" class="form-control rounded-start-pill" type="search" placeholder="Пошук"
                       aria-label="Search" id="searchInput">
                <a href="" id="searchButton">
                    <input type="image" src="/src/img/magnifying-glass-solid.svg" class="btn btn-outline-success rounded-end-pill icon_fif">
                </a>
            </form>
            <!--            Користувач, вподобання та кошик-->
            <ul class="list-inline float-end">
                <li class="nav-item">
                    <a href="/users/">
                        <img class="icon_fif" src="/src/img/circle-user-solid.svg" id="userIcon" alt="User Icon">
                    </a>
                    <!--Максимум приблизно 15 символів, так що краще використати userName-->
                    <%if(typeof username !== 'undefined'){ %>
                    <span class="userName text-center" id="userName"><%=username%></span>
                    <%} %>
                </li>
                <li class="nav-item list-inline-item">
                    <a href="/users/saved">
                        <img class="icon_fif" src="/src/img/heart-solid.svg" id="savedItems" alt="User Icon">
                    </a>
                </li>
                <li class="nav-item list-inline-item position-relative">

                    <a href="/orders">
                        <img class="icon_fif" src="/src/img/cart-shopping-solid.svg" id="savedItems" alt="User Icon">
                        <%if(typeof cartItems !== 'undefined'){ %>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-3" id="cartItem">
                            <%=cartItems%>
                            <span class="visually-hidden">unread messages</span>
                        <%} %>
                    </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--    Вспливаюче вікно від всі предмети-->
    <div class="collapse navbar-collapse position-absolute z-3" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-light nav-all-items border border-secondary rounded" id="allCategoryWindow">
            <li class="nav-item">
                <a class="nav-link" href="/search/type?name=BuildMaterials&type=category">Будівельні матеріали</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search/type?name=PaintMaterials&type=category">Лакофарбові матеріали</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search/type?name=ElectricalProducts&type=category">Електротовари</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search/type?name=BuildMixes&type=category">Будівельні суміші</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search/type?name=Windows&type=category">Вікна</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search/type?name=Doors&type=category">Двері</a>
            </li>
        </ul>
    </div>
</header>