<!doctype html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BuildPeak</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/src/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/icon/favicon-16x16.png">
    <link rel="manifest" href="/client/public/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/register-and-login-page.styles.css">
    <link rel="stylesheet" href="/css/header_footer.styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
<%- include('C://Users//stasy//WebstormProjects//coursework//server//views//partials//header.ejs')%>
<div class="container">
    <div class="register text-center mt-3 mb-3">
        <h1 class="mb-4 text-center">Login</h1>
        <form class="loginForm mb-2"  novalidate action="/login" method="post">
            <div class="form-group">
                <label class="form-label" for="email">Email address</label>
                <input class="form-control" type="email" id="email" name="email" required>
                <div class="invalid-feedback">
                    Please enter your email address
                </div>
                <%if(typeof failed !== "undefined") {%>
                    <div class="invalid-response ">
                        <p class="fs-5 fw-bold"><%=failed.toString()%></p>
                    </div>
                <%} %>
            </div>

            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="invalid-feedback">
                    Please enter your password
                </div>
            </div>
            <input type="submit" value="SIGN IN" class="fs-3 mt-3 btn btn-success w-100">
        </form>
        <a href="/register" class="fs-5 fw-bold">Ще не зарєстровані?</a>
    </div>
</div>
<script type="module" src="/js/header.js"></script>
<script src="/js/login-page.js"></script>
</body>
<%- include('C://Users//stasy//WebstormProjects//coursework//server//views//partials//footer.ejs')%>
</html>